@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background:#CCC7D1 ;
    position: relative;
}
.card-header{
    background: white;
    color: black;
    padding: 20px 20px 20px 20px;
}
.card-header .card-title{
    text-align:center;
    font-color:black;
   
}
.card-header .card-text{
    text-align:center; 
    color:black;
    text-align:center;
}
.card-body  {
    height:80px;
    text-align:center;
    padding:20px; 
    border-radius:10px 10px 10px 10px;
}


